.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.tag {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 20px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: #FF6060;
    color: white;
}