.slider_title {
    font-size: 36px;
    font-weight: 500;
    line-height: 51.34px;
    color: #FF6060;
    margin: 0;
}
.slider_location {
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    color: #FF6060;
    margin: 0;
}