.tagsNrate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titlesNhost {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-container {
    width: 1240px;
    height: 415px;
    margin: 0 auto;
}