@media only screen and (max-width: 1514px){
    .collapse-small,.content-small {
        width: 382px;
    }
}

@media only screen and (max-width: 1030px){
    .details_container {
        flex-direction: column;
    }
    .collapse-small,.content-small {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .container{
        margin: 50px 20px;
    }
    .accomodations {
        background-color: #ffff;
        margin: 0;
    }
    .collapse-small,.content-small {
        width: 100%;
    }
    .card {
        width: 100%;
    }
    .accomodation_info {
        flex-direction: column;
        align-items: unset;
    }
    .tagsNrate {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: unset;
    }
    .tag {
        width: 84px;
        height: 18px;
    }
    .details_container {
        flex-direction: column;
    }
    .pageNotFound {
        &_container {
               &_title {
            font-size: 250px;
            line-height: 350px;
        }
        }
     
    }
}

@media only screen and (max-width: 493px) {
    .container{
        margin: 30px 10px;
    }
    .main_logo {
        width: 145px;
        height: 47px;
    }
    .navigation {
        &_link{
            font-size: 18px;
            line-height: 17.11px;
            white-space:noWrap;
        }
    }
    .banner{
        &_title {
            font-size: 24px;
            line-height: 24px;
            padding-top: 25px;
        }
    }
    .details {
        width: 100%;
    }
    .content {
        width: 100%;
    }
    .card {
        margin: 20px 0 0 0;
        height: 310px;
    }
    .accomodations {
        padding: 0;
    }
    .pageNotFound {
        &_container {
             &_title {
            font-size: 150px;
            line-height: 250px;
        } 
        }
      
    }
    .slider-container {
        height: 300px;
    }
    .tag {
        width: 74px;
        height: 12px;
    }
    .stars {
        &_star {
            width: 20px;
            height: 20px;
        }
    }
    .host {
        &_img {
            width: 45px;
            height: 45px;
        }
        &_name {
          &_firstName,&_familyName {
            font-size: 18px;
            line-height: 18px;
          }
        }
    }
    .slider_title {
        font-size: 30px;
    }
}