@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("../assets/fonts/Montserrat-Medium.ttf");
}
body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
li {
    list-style-type: none;
}