body {
    max-width: 1240px;
    font-family: 'Montserrat', sans-serif;
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("../assets/fonts/Montserrat-Medium.ttf");
}
li {
    list-style-type: none;
}