@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("../assets/fonts/Montserrat-Medium.ttf");
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    margin: 30px 100px;

}
li {
    list-style-type: none;
}