.accomodation {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
.accomodation_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tagsNrate {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 20px;
}
.titlesNhost {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    margin-top: 10px;

}
